.link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background-color: #a6a6a6;
    color: #0003ab;
    padding: 10px;
    border-radius: 10px;

    &:global(.active) {
        font-weight: bold;
        color: #ff0000;
        background-color: #a6a6a6;

        
    } &:hover {
            background-color: #0fffff;
         }
}

