.container {
    display: block;
    margin-top: 15;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  color: #0003ab;
  background-color: #0fffff;
  text-align: center;

}
