.button {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  background-color: var(--background-dark-color);
  color: var(--background-light-color);
  padding: 10px;
  border-radius: 10px;

  &:global(.active) {
    font-weight: bold;
    color: #ff0000;
    background-color: #a6a6a6;
  }
  &:hover {
    background-color: var(--background-light-color);
    color: var(--background-dark-color);
    border-inline: solid 4px var(--button-border-color);
  }
}
